
.fondo {
	-fx-background-color: linear-gradient(#2A5058, #ffa2b1);
}

.fondo_login {
	-fx-background-color: white;
	-fx-background-radius: 10;
}

.sign_in {
	-fx-font-family: system;
	-fx-text-fill: #004ECD;
	-fx-font-size: 28;
}

.presentasion {
	-fx-font-family: system;
	-fx-text-fill: #B2B2B2;
	-fx-font-size: 11;
}

.boton {
	-fx-font-family: system;
	-fx-font-size: 12;
	-fx-background-color: red; 
	-fx-background-radius: 5;
}